<!DOCTYPE html>
<html>
<head>
  <title>Angular + Smartystreets</title>
  <link rel="stylesheet" type="text/css" href="../css/liveaddress.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  <script type="text/javascript" src="../js/controllers/liveaddress.js"></script>
</head>

<body>

<div ng-app="liveaddress" class="main">

  <h1>Address</h1>

  <h2>Enter Address</h2>
  <div liveaddress ng-model="address" input-class="{inputbox:true}"></div>

  <h2>Results JSON</h2>
  <pre>{{ address|json }}</pre>

  <h3>Street</h3>
  <p>{{address.components.street_name}}</p>

  <h3>City</h3>
  <p>{{address.components.city_name}}</p>

  <h3>State</h3>
  <p>{{address.components.state_abbreviation}}</p>

</div>

</body>
</html>